.banner {
  display: flex;
  justify-content: center;
  width: 90% !important;
}

.banner-container {
  width: 90% !important;
}

.banner-image, .banner-image img {
  width: 100% !important;
}

.slick-dots button::before {
  color: white !important;
}